.search-container{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.search-h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: var(--outline-yellow);
}

.search-wrapper {
	display: flex;;
	flex-wrap: wrap;
	gap: 15rem;
	padding: 4rem;
    align-items: flex-start;
}
